@{
    ViewData["Title"] = "Home Page";
    //Layout="";
}
@using Core.Domain
@model List<Package>
<div class="d-flex flex-row mb-0">
    <div class="d-flex flex-column flex-shrink-0 bg-primary" style="width: 4.5rem; height:100vh">
        @*    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi pe-none" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
        <span class="visually-hidden">Icon-only</span>
        </a>*@
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a asp-area="" asp-controller="Package" asp-action="Index" class="nav-link text-white bg-secondary py-3 border-bottom rounded-0" aria-current="page" title="All packages" data-bs-toggle="tooltip" data-bs-placement="right">
                    @*           <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home" /></svg>*@
                    <i class="bi bi-list-ul"></i>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Package" asp-action="CreatePackage" class="nav-link text-white py-3 border-bottom rounded-0" title="Add packages" data-bs-toggle="tooltip" data-bs-placement="right">
                    @*       <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard"><use xlink:href="#speedometer2" /></svg>*@
                    <i class="bi bi-plus-circle"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="container mt-5 d-flex flex-column flex-shrink-1 list-group w-100">
        <h1>Breda</h1></><hr />
        @foreach (var package in @Model){
            
            
            @if (package.City.Equals(EnumCity.Breda) && package.CanteenLocation.Equals("La"))
            {
                <a asp-area="" asp-controller="Package" asp-action="AdminPackageDetails" asp-route-id="@package.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <h1><i class="bi bi-box2-heart"></i></h1>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">@package.Name</h5>
                            <p class="mb-0 opacity-75">@package.CanteenLocation</p>
                            <p class="mb-0 opacity-75"></p>
                        </div>
                        <small class="opacity-50 text-nowrap">DateTime:</small>
                    </div>
                </a>
            }
            @if (package.City.Equals(EnumCity.Breda) && package.CanteenLocation.Equals("Ld"))
            {
                <a asp-area="" asp-controller="Package" asp-action="AdminPackageDetails" asp-route-id="@package.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <h1><i class="bi bi-box2-heart"></i></h1>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">@package.Name</h5>
                            <p class="mb-0 opacity-75">@package.CanteenLocation</p>
                            <p class="mb-0 opacity-75"></p>
                        </div>
                        <small class="opacity-50 text-nowrap">DateTime:</small>
                    </div>
                </a>
            }
            @if (package.City.Equals(EnumCity.Breda) && !package.CanteenLocation.Equals("Ld") && !package.CanteenLocation.Equals("La"))
            {
                <a asp-area="" asp-controller="Package" asp-action="AdminPackageDetails" asp-route-id="@package.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <h1><i class="bi bi-box2-heart"></i></h1>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">@package.Name</h5>
                            <p class="mb-0 opacity-75">@package.CanteenLocation</p>
                            <p class="mb-0 opacity-75"></p>
                        </div>
                        <small class="opacity-50 text-nowrap">DateTime:</small>
                    </div>
                </a>
            }

        }

        <h1 class="pt-4">Tilburg</h1></><hr />
        @foreach (var package in @Model)
        {

            @if (package.City.Equals(EnumCity.Tilburg))
            {
                <a asp-area="" asp-controller="Package" asp-action="AdminPackageDetails" asp-route-id="@package.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <h1><i class="bi bi-box2-heart"></i></h1>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">@package.Name</h5>
                            <p class="mb-0 opacity-75">@package.CanteenLocation</p>
                            <p class="mb-0 opacity-75">Amount</p>
                        </div>
                        <small class="opacity-50 text-nowrap">DateTime:</small>
                    </div>
                </a>
            }
        }
        <h1 class="pt-4">Den Bosch</h1></><hr />
        @foreach (var package in @Model)
        {

            @if (package.City.Equals(EnumCity.DenBosch))
            {
                <a asp-area="" asp-controller="Package" asp-action="AdminPackageDetails" asp-route-id="@package.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <h1><i class="bi bi-box2-heart"></i></h1>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">@package.Name</h5>
                            <p class="mb-0 opacity-75">@package.CanteenLocation</p>
                            <p class="mb-0 opacity-75">Amount</p>
                        </div>
                        <small class="opacity-50 text-nowrap">DateTime:</small>
                    </div>
                </a>
            }
        }

    </div>
</div>


