@{
    ViewData["Title"] = "HomePage";
}
@using Core.Domain
@model List<Package>

@*Code For the carousel*@
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            @*<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>*@
            <img src="~/Banner1.png" width="100%" height="120%" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <div class="bg-black bg-opacity-25 rounded-3 p-1 w-50">
                        <h1 class="fw-bold">AvansToGo</h1>
                        <p>It is way too good to let it go.</p>
                        @if (User.HasClaim(c => c.Type == "Employee") && User.HasClaim(c => c.Type == "Student"))
                        {
                            <p><a class="btn btn-lg btn-secondary" asp-area="" asp-controller="Account" asp-action="Login">Login now!</a></p>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            @*<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>*@
            <img src="~/Banner2.jpg" width="100%" height="120%" />
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="text-secondary">Join us in making the world a better place</h1>
                    <p>Reserve a package!</p>
                    <p><a class="btn btn-lg btn-secondary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
@*            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>*@
            <img src="~/banner3.jpg" width="100%" height="120%" />
            <div class="container">
                <div class="carousel-caption text-start">
                    <div class="bg-black bg-opacity-25 rounded-3 p-1 w-50">
                    <h1>Your meal</h1>
                    <p>Get your meal in a package!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@*End of code for carousel*@
@*----------------------------*@
@*Begin of code for cards*@

 <div class="album pb-5">
    <div class="container">

        <div class="h2">
            Packages:
        </div>

@*        <div class="dropdown my-2">
            <button class="btn btn-primary shadow-none dropdown-toggle" style="margin-left:0px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">All Packages</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">All Packages</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">All Packages</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">All Packages</a>
            </div>
        </div>*@

        @if(TempData["AlertMessage"] != null)
        {
            <div class="alert alert-warning">
                <b>Error:</b>@TempData["AlertMessage"]
            </div>
        }

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          @*Input Code for-loop items*@
                @foreach (var package in @Model)
                {
                        <div class="col">
                        <div class="card shadow-sm">
                        <div class="container p-0" style="position:relative; text-align:center;">

                        @if(package.Type == EnumMealType.Bread)
                        {
                            <img src="~/bread.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        }
                        @if (package.Type == EnumMealType.Beverage)
                        {
                            <img src="~/beverage.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        } @if (package.Type != EnumMealType.Bread && package.Type != EnumMealType.Beverage)
                        {
                            <img src="~/hotmeal.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        }

                        @if (package.ContainsAlcohol == true)
                        {
                            <div class="text-primary fw-bold bg-opacity-50 bg-white rounded-pill" style="position:absolute;top:8px;right:9px;font-size:35px">18+</div>
                        }

                        </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between" style="height:5rem;width:100%">

                                  <div class="d-flex flex-column" style="width:40%"> 

                                     <div class="d-flex justify-content-start">
                                       <p class="fw-bold mb-0" style="font-size:20px">@package.Name</p>
                                     </div>

                                        <div class="d-flex justify-content-start">
                                         Type: @package.Type
                                     </div>
                                  </div>

                                <div class="d-flex flex-column" style="width:60%;padding-top:30px">
                                    <p class="m-0">From: @package.PickUpTimeStart.ToString()</p>
                                    <p class="mb-0" style="margin-left:20px">To: @package.PickUpTimeEnd.ToString()</p>
                                  </div>
                                
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group gap-1">

                                        <form asp-area="" asp-controller="Home" asp-action="PackageDetails" asp-route-id="@package.Id" method="post">
                                        <input type="submit" class="btn btn-sm btn-main btn-outline-secondary" value="View">
                                        </form>

                                        <form asp-area="" asp-controller="Home" asp-action="ReservePackage" asp-route-id="@package.Id" method="post">
                                            <input type="submit" class="btn btn-sm btn-main btn-outline-secondary" value="Add" />
                                        </form>

                                    </div>
                                <small class="text-muted">Price: €@package.Price</small>
                                </div>
                            </div>
                        </div>
                        </div>

                }
      </div>
    </div>
 </div>
